<div class="row" >
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal" id="newRootDirForm" novalidate="novalidate">
                    <div class="form-group ">
                        <label  class="control-label col-sm-2">新目录 </label>
                        <div class="col-sm-4">
                            <input class=" form-control" name="newRootDir" type="text" placeholder="web页面无法选择文件夹">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-success m-r-5" id="newRootDirBtn"><span>新增</span></button>
                        </div>
                    </div>
                </form>

                <table class="table table-striped" id="rootDirListTable">
                    <thead>
                    <tr>
                        <th>目录</th>
                        <th>是否默认</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div> <!-- end row -->